/* 颜色 */
:root {
  --anzhiyu-theme-op: #4259ef23;
  --anzhiyu-white: #fff;
  --anzhiyu-black: #000;
  --anzhiyu-none: rgba(0, 0, 0, 0);
  --anzhiyu-gray: #999999;
  --anzhiyu-yellow: #ffc93e;
  --anzhiyu-border-radius: 8px;
  --anzhiyu-main: var(--anzhiyu-theme);
  --anzhiyu-main-op: var(--anzhiyu-theme-op);
  --anzhiyu-shadow-theme: 0 8px 12px -3px var(--anzhiyu-theme-op);
  --anzhiyu-shadow-main: 0 8px 12px -3px var(--anzhiyu-main-op);
  --anzhiyu-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, 0.2);
  --anzhiyu-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, 0.2);
  --anzhiyu-shadow-black: 0 0 12px 4px rgba(0, 0, 0, 0.05);
  --anzhiyu-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, 0.12);
  --anzhiyu-shadow-red: 0 8px 12px -3px #ee7d7936;
  --anzhiyu-shadow-green: 0 8px 12px -3px #87ee7936;
  --anzhiyu-shadow-border: 0 8px 16px -4px #2c2d300c;
  --anzhiyu-logo-color: linear-gradient(215deg, #4584ff 30%, #ff7676 70%);
  --style-border: 1px solid var(--anzhiyu-card-border);
  --anzhiyu-blue-main: #425aef;
  --style-border-hover: 1px solid var(--anzhiyu-main);
  --style-border-dashed: 1px dashed var(--anzhiyu-theme-op);
  --style-border-avatar: 4px solid var(--anzhiyu-background);
  --style-border-always: 1px solid var(--anzhiyu-card-border);
  --anzhiyu-white-acrylic1: #fefeff !important;
  --anzhiyu-white-acrylic2: #fcfdff !important;
  --anzhiyu-black-acrylic2: #08080a !important;
  --anzhiyu-black-acrylic1: #0b0b0e !important;
}

[data-theme='light'] {
  --anzhiyu-theme: #425aef;
  --anzhiyu-theme-op: #4259ef23;
  --anzhiyu-blue: #425aef;
  --anzhiyu-red: #d8213c;
  --anzhiyu-pink: #ff7c7c;
  --anzhiyu-green: #57bd6a;
  --anzhiyu-fontcolor: #363636;
  --anzhiyu-background: #f7f9fe;
  --anzhiyu-reverse: #000;
  --anzhiyu-maskbg: rgba(255, 255, 255, 0.6);
  --anzhiyu-maskbgdeep: rgba(255, 255, 255, 0.85);
  --anzhiyu-hovertext: var(--anzhiyu-theme);
  --anzhiyu-ahoverbg: #f7f7fa;
  --anzhiyu-lighttext: var(--anzhiyu-main);
  --anzhiyu-secondtext: rgba(60, 60, 67, 0.6);
  --anzhiyu-scrollbar: rgba(60, 60, 67, 0.4);
  --anzhiyu-card-btn-bg: #edf0f7;
  --anzhiyu-post-blockquote-bg: #fafcff;
  --anzhiyu-post-tabs-bg: #f2f5f8;
  --anzhiyu-secondbg: #edf0f7;
  --anzhiyu-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
  --anzhiyu-card-bg: #fff;
  --anzhiyu-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-card-border: #c0c6d8;
}

[data-theme='dark'] {
  --anzhiyu-theme: #0084ff;
  --anzhiyu-theme-op: #0084ff23;
  --anzhiyu-blue: #0084ff;
  --anzhiyu-red: #ff3842;
  --anzhiyu-pink: #ff7c7c;
  --anzhiyu-green: #57bd6a;
  --anzhiyu-fontcolor: #f7f7fa;
  --anzhiyu-background: #18171d;
  --anzhiyu-reverse: #fff;
  --anzhiyu-maskbg: rgba(0, 0, 0, 0.6);
  --anzhiyu-maskbgdeep: rgba(0, 0, 0, 0.85);
  --anzhiyu-hovertext: #0a84ff;
  --anzhiyu-ahoverbg: #fff;
  --anzhiyu-lighttext: #f2b94b;
  --anzhiyu-secondtext: #a1a2b8;
  --anzhiyu-scrollbar: rgba(200, 200, 223, 0.4);
  --anzhiyu-card-btn-bg: #30343f;
  --anzhiyu-post-blockquote-bg: #000;
  --anzhiyu-post-tabs-bg: #121212;
  --anzhiyu-secondbg: #30343f;
  --anzhiyu-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
  --anzhiyu-card-bg: #1d1b26;
  --anzhiyu-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-card-border: #42444a;
}
:root{
  --mj-white: #fff;
  --mj-card-bg: #fff;
  --mj-theme: #425AEF;
  --mj-main: #425AEF;
  --mj-secondbg: #ededed;
  --mj-card-border: #e3e8f7;
  --style-border: 1px solid var(--mj-card-border);
  --style-hover-border: 1px solid var(--mj-theme);
}
/* home top */
#home_top {
  max-width: 1500px;
  width: 100%;
  margin-top: .5rem;
  padding: 0 15px;
  margin: 0 auto;
}
.home_top_group {
  border-radius: 12px;
  overflow: auto;
  width: 100%;
  margin-bottom: 0;
}
.homeTopGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 1rem;
  overflow: auto;
  overflow-x: score;
  border-radius: 12px;
}
.homeTopGroup::-webkit-scrollbar {
  display: none;
}
.homeTopGroup #banner_group {display: flex;}
div#banners {display: none;}
@media screen and (min-width: 1300px){
.homeTopGroup #banner_group {
  width: calc(100% - 600px - 1.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
div#banners {
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--mj-main);
  margin-bottom: .5rem;
  margin-right: .5rem;
  border: var(--style-border);
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}
div#banners:hover{
  border: var(--style-hover-border);
}
.homeTopGroup .category_group {
  flex-direction: row !important;
}
.homeTopGroup .category_item {
  width: calc(100% / 3 - .33rem);
  height: 100% !important;
  margin-right: .5rem;
}
.homeTopGroup .category_item:nth-child(3) {
  margin-right: 0;
  display: flex !important;
}
#banner-page {
  width: 100%;
  height: 100%;
}
.top_post_group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: space-between;
  width: calc(600px + 1.5rem);
}
}

.homeTopGroup .category_group{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px;
}
.homeTopGroup .category_item {
  overflow: hidden;
  transform: scale(1);
  transition: .3s;
  height: 48%;
  border-radius: 12px;
}
.homeTopGroup .category_item:nth-child(3) {
  display: none;
}
.homeTopGroup .category_item a.category_button {
  height: 100%;
  width: 100%;
  background: var(--mj-card-bg);
  border-radius: 12px;
  display: inline-block;
  text-align: left;
  line-height: 4em;
  font-weight: 700;
  font-size: .9rem;
  color: var(--mj-white);
  transition: all .4s cubic-bezier(.39,.575,.565,1);
  transform: scale(1);
  overflow: hidden;
  font-family: PingFang SC,Hiragino Sans GB,Microsoft YaHei;
}
.category_button_text {
  padding-left: 25px;
}
a.category_button i {
  font-size: 3rem;
  opacity: .3;
  position: absolute;
  right: 15px;
  top: 10%;
  transition: .3s;
  transform: rotate(-10deg);
  /*width: 100px;
  text-align: center;*/
}
a.category_button:hover i {
  opacity: .8;
  transition: .8s;
  transition-delay: .15s;
  transform: scale(1.1)
}
a.category_button:hover:after{
  width: 3rem;
  transition: .8s;
}
a.category_button:after {
  top: 40px;
  width: 1rem;
  left: 25px;
  height: 2px;
  background: var(--mj-white);
  content: "";
  border-radius: 1px;
  position: absolute;
  transition: .8s;
}
@media screen and (max-width: 768px){
#home_top{
  padding: 0 5px;
}
.homeTopGroup .category_group {
  min-width: 130px!important;
}
.top_post_group .top_post_item{
  border-radius: 0;
}
}
.top_post_group{
  display: flex;
  position: relative;
}
.top_post_group .top_post_item {
  display: flex;
  width: 200px;
  min-width: 200px;
  height: 164px;
  max-height: 164px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: .5rem;
  background: var(--mj-card-bg);
  border-radius: 12px;
  overflow: hidden;
  border: var(--style-border);
}
.top_post_group .top_post_item:hover {border: var(--style-hover-border);}
.top_post_group .top_post_item .post_cover {
  width: 100%;
  height: 110px;
  position: relative;
}
.top_post_group .top_post_item .post_cover img {
  object-fit: cover;
  width: 100%;
  height: 110px;
  background: var(--mj-secondbg);
}
.top_post_group .top_post_item .post_cover .post_cover_info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%!important;
  opacity: 0;
  background-color: rgba(0,0,0,0.7) !important;
  transition: all 0.3s ease;
  display: flex;
} 
.top_post_group .top_post_item:hover .post_cover .post_cover_info{
  opacity: 1;
}
.top_post_group .top_post_item .post_cover .post_cover_info .post_cover_text{
  color: #fff;
  padding: 12px 14px;
  font-size: 15px;
  font-weight: 400;
  margin: 20px 0;
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.top_post_group .top_post_item:hover .post_info,
.top_post_group .top_post_item:focus .post_info{
  /*background: var(--mj-theme);*/
  box-shadow: inset 0 -60px 0 0 var(--mj-theme);
}
.top_post_group .top_post_item .post_info a{
  color: var(--mj-fontcolor) !important;
  transition: 0;
}
.top_post_group .top_post_item:hover .post_info a{
  color: var(--mj-white) !important;
}
.top_post_group .top_post_item .post_info {
  padding: .2rem .5rem .3rem .5rem!important;
  transition: .3s;
  width: 100%!important;
  height: 100%!important;
}
.top_post_group .top_post_item .post_info .article-title {
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.4;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  font-weight: 600;
  font-size: .8rem!important;
  padding: 0!important;
}
body {
    cursor:url('https://haorblog.adhy.cc/blogimg/1.cur'),
          default;
  }
  a,
  img {
    cursor:url('https://haorblog.adhy.cc/blogimg/2.cur'),
          default;
  }
@font-face{
    font-family: 'mcmain';
    src : url('https://npm.elemecdn.com/haor-blog-flie@1.0.0/main.ttf');
}
body{
    font-family: 'mcmain';
}
.loading-img {
    background: url(https://haorblog.adhy.cc/img/hand.jpg) no-repeat center center;
    background-size: cover;
  }

.post-bg #post-cover{
  width: 100%;
  height: 100%;  
  object-fit: cover;
}
.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2;
  position: fixed;
  margin: auto;
  top: 4px;
  left: 0;
  right: 0;
  height: 8px;
  border-radius: 8px;
  width: 6rem;
  background: #eaecf2;
  overflow: hidden;
}

.pace-inactive .pace-progress {
  opacity: 0;
  transition: 0.3s ease-in;
}

.pace.pace-inactive {
  opacity: 0;
  transition: 0.3s;
  top: -8px;
}

.pace.pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  position: fixed;
  z-index: 2;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #49b1f5;
  background: linear-gradient(
    to right,
    rgb(18, 194, 233),
    rgb(196, 113, 237),
    rgb(246, 79, 89)
  );
  animation: gradient 2s ease infinite;
  background-size: 200%;
}
.layout{
  padding-top: 20px!important;
  padding-bottom: 20px!important;
  max-width:1450px;
  justify-content: center;
}
.aside-content{
  max-width:312px;
  min-width:300px;
}
.recent-posts{
  width:auto;
}
@media screen and (max-width: 900px){
  .aside-content{
      max-width:none;
  }
}
.haor_blog_top{
  max-width: 1400px;
  margin:0 auto;
  padding: 0 15px;
  width: 100%;
  justify-content: center;
}
#recent-posts .recent-post-item{
  background: var(--anzhiyu-card-bg);
  border-radius: 12px;
  cursor: pointer;
  border: var(--style-border);
}
#category-bar{
  width: 100%;
  margin-top: 1rem; 
}
#random{
  height: 300px;
}
#random{
  width: 100%!important;
  background-color: var(--lyx-white-acrylic1)!important;
  border-radius: 8px;
  background-size:cover;
  color:var(--lyx-white);
  font-size:44px; /*觉得小可以开大一点*/
  position: relative;
}
#random-banner{
  width:100%!important;
  height:100%!important;
  border-radius:8px;
}
#random-hover{
  position:absolute;
  right:0%;
  height:100%!important;
  color:var(--lyx-0);
  border-radius: 8px;
}
#random-hover:hover{
 color:#ffffff;
 background-color: #425aefdd;
 backdrop-filter: blur(10px) saturate(180%);
 -webkit-backdrop-filter: blur(10px) saturate(180%);
}
@media screen and (max-width: 800px){
  #random{
      display: none!important;
  }
}
#home_top_main{
  position: absolute;
  bottom: 10px;
}
.home-top-main-1{
  position: absolute;
  bottom: 85px;
}
.recent-post-item{
  -webkit-box-shadow: none!important;
}
.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2;
  position: fixed;
  margin: auto;
  top: 4px;
  left: 0;
  right: 0;
  height: 8px;
  border-radius: 8px;
  width: 6rem;
  background: #eaecf2;
  overflow: hidden;
}

.pace-inactive .pace-progress {
  opacity: 0;
  transition: 0.3s ease-in;
}

.pace.pace-inactive {
  opacity: 0;
  transition: 0.3s;
  top: -8px;
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  position: fixed;
  z-index: 2;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #49b1f5;
  background: linear-gradient(
    to right,
    rgb(18, 194, 233),
    rgb(196, 113, 237),
    rgb(246, 79, 89)
  );
  animation: gradient 2s ease infinite;
  background-size: 200%;
}
#aside-content>.card-widget.card-info{
  box-shadow: var(--anzhiyu-shadow-border);
    background: var(--anzhiyu-card-bg);
    border: var(--style-border);
    transition: .3s;
}

#footer-wrap {
    color: var(--Jay-fontcolor)
}

#footer-wrap a {
    color: var(--Jay-fontcolor);
    height: 44px;
    line-height: 36px
}

#footer-wrap a:hover {
    color: var(--Jay-hovertext);
    background-color: var(--Jay-none)
}

div#footer_deal {
    justify-content: center;
    display: flex;
    padding-top: 2rem;
    align-items: center
}

@media screen and (max-width: 768px) {
    img.footer_mini_logo {
        display: none
    }

    div#footer_deal {
        flex-wrap: wrap;
        flex-direction: row
    }
}


a.deal_link {
    display: flex;
    margin: 1rem 27px;
    color: var(--Jay-card-bg);
    border-radius: 3rem;
    width: 32px;
    height: 32px;
    background: var(--font-color);
    justify-content: center;
    align-items: center;
    transition: .3s
}

a.deal_link:hover {
    color: var(--Jay-white);
    background: var(--Jay-main)
}

img.footer_mini_logo {
    width: 50px;
    height: 50px;
    margin: 0 1rem;
    cursor: pointer;
    /*filter: drop-shadow(0 12px 12px #ee7d7936);*/
    transition: cubic-bezier(0, 0, 0, 1.29) .5s
}

img.footer_mini_logo:hover {
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d
}

@media screen and (min-width: 1300px) {
    img.footer_mini_logo:hover {
        transform: scale(1.03)
    }

    img.footer_mini_logo:active {
        transform: scale(.97)
    }
}

#weblogo {
    align-self: center
}

#footer-wrap a#Jayblog_footerlogo:hover {
    background: var(--Jay-none)
}

.Jayblog_footerlogo_img {
    filter: drop-shadow(0 12px 12px #ee7d7936)
}

.Jayblog_footerlogo_img:hover {
    transform: scale(1.03)
}

#footer {
    background: linear-gradient(180deg, var(--Jay-background) 0, var(--Jay-card-bg) 25%);
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    z-index: 1002
}

@media screen and (max-width: 768px) {
    #footer {
        background: linear-gradient(180deg, var(--Jay-background) 0, var(--Jay-card-bg) 25%);
        margin-top: 0;
        z-index: 999
    }
}

[data-theme=dark] #footer:before, [data-theme=dark] #page-header:before, [data-theme=dark] #web_bg:before {
    background-color: var(--Jay-none) !important
}

@media screen and (max-width: 768px) {
    #letlink {
        flex-direction: column !important;
        text-align: center !important
    }

    #letlogo {
        display: none !important
    }

    #footer-wrap {
        margin-top: 1rem !important
    }
}

.footer-banner-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

#footer-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 50px 0 50px;
    text-align: left !important;
    max-width: 1200px;
    margin: 0 auto
}

#footer-wrap h1 {
    font-size: 1.5rem;
    margin: 0
}

#footer-wrap h3 {
    padding: 0 12px
}

#footer-wrap p {
    margin: 0 0 0 .2rem;
    font-size: .8rem;
    opacity: .8
}

#footer-wrap i {
    margin-right: .5rem;
    width: 22px;
    font-size: 18px;
    display: inline-block
}

#footer-wrap #letlogo {
    display: flex;
    flex-direction: column;
    /*margin-right: 60px;*/
    align-self: center;
    margin: auto 0;
    max-width: 200px
}

#footer-wrap #letlink .link_group {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    min-width: 180px
}

#footer-wrap #letlink {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 1rem 0
}

#weblogo i {
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: -10px
}

#footer:before {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    content: '' !important;
    z-index: -1
}

#Jay-footer .footer-links {
    display: flex;
    flex-direction: column
}

#Jay-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 1rem auto;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    padding: 0 1rem
}

#Jay-footer .footer-item {
    font-size: 1rem;
    line-height: .8rem;
    margin: .38rem 0;
    color: var(--Jay-fontcolor);
    /*margin-right: auto*/
}

#Jay-footer .footer-item:hover {
    color: var(--Jay-theme)
}

#Jay-footer .footer-group {
    min-width: 120px
}

#Jay-footer .footer-title {
    color: var(--Jay-secondtext);
    font-size: 1rem
}

#footer-banner {
    padding: 1rem;
    color: var(--Jay-fontcolor);
    margin-top: 1rem;
    background: var(--Jay-secondbg);
    display: flex;
    overflow: hidden;
    z-index: 1002;
    transition: .3s;
    /*border-top: var(--style-border)*/
}

[data-theme=dark] #footer-banner {
    background: var(--Jay-secondbg)
}

#footer-banner .footer-banner-links {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
}

#footer-banner .footer-banner-left {
    display: flex;
    flex-wrap: wrap;
    min-height: 32px
}

#footer-banner .footer-banner-link {
    margin-right: 1rem;
    color: var(--Jay-fontcolor);
    font-size: 1rem;
    font-weight: 700;
    white-space: nowrap
}

#footer-banner .footer-banner-link.cc {
    margin-right: 0
}

#footer-banner .footer-banner-link.cc i {
    margin-right: .5rem
}

#footer-banner .footer-banner-link:hover {
    color: var(--Jay-theme)
}

#footer-banner > div > div.footer-banner-left > span {
    margin-right: 1rem
}

#footer-banner .footer-banner-right a:hover {
    color: var(--Jay-lighttext)
}

#footer_deal i {
    font-size: 1.6rem;
    transition: .3s;
    line-height: 1.3rem;
    height: 1.3rem
}

.comment-barrage {
  position: fixed;
  bottom: 0;
  right: 55px;
  padding: 0 0 30px 10px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .comment-barrage {
      display: none!important;
  }
}

.comment-barrage-item {
  min-width: 150px;
  max-width: 200px;
  width: fit-content;
  min-height: 80px;
  max-height: 144px;
  margin: 4px 0;
  padding: 8px;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(20px) saturate(180%);
  border-radius: 8px;
  color: #fff;
  animation: barrageIn 0.3s cubic-bezier(.25, .01, .5, 1.5);
  transition: 1s;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.comment-barrage-item.out {
  opacity: 0;
}

@keyframes barrageIn {
  0% {
      transform: scale(0.1);
  }
  100% {
      transform: scale(1.0);
  }
}



.comment-barrage-item .barrageHead {
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-barrage-item .barrageAvatar {
  width: 16px;
  height: 16px;
  margin: 0;
  border-radius: 50%;
}

.comment-barrage-item .barrageContent {
  font-size: 14px;
  height: calc(100% - 30px);
  overflow: scroll;
}

.comment-barrage-item .barrageContent::-webkit-scrollbar {
  height: 0;
  width: 4px;
}

.comment-barrage-item .barrageContent::-webkit-scrollbar-button {
  display: none;
}
:root{
  --lyx-black:black;
  --lyx-white:white;
  --lyx-white-acrylic2:#fffa;
  --lyx-black-acrylic2: #000a;
}


